<div class="container font-hairline max-w-xl mx-auto text-xl">
  <h1 class="my-8 text-6xl text-center text-gray-700">Todos</h1>
  <div class="bg-white shadow rounded">

    <%= live_component(@socket, FormComponent, id: :form_component) %>

    <%= for todo <- @todo_list.todos do %>
      <%= live_component(@socket, TodoComponent, id: todo.id, todo: todo) %>
    <% end %>

    <%= live_component(@socket, FooterComponent, id: :footer, todo_list: @todo_list) %>
  </div>
</div>
